/* Styles pour le corps de la page */
body {
	background-color: #808080;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Courier New';
	margin: 0px;
	list-style-position: inside;
	color: white;
}	

/* Barre de navigation */
.sidebar {
	margin: 0;
	padding: 0;
	width: 400px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

/* Liens de la barre de navigation */
.sidebar a {
	display: block;
	color: black;
	padding: 64px;
	text-decoration: none;
}

/* Lien actif */
.sidebar a.active {
	background-image: url('https://www.mirasafety.com/cdn/shop/articles/Is_Hiroshima_still_radioactive.png?v=1739993337');
	background-size: cover;
	background-position: fixed;
	background-color: #808080;
	color: black;
}

/* Effet de survol */
.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

/* Contenu principal */
div.content {	
	margin-left: 350px;
	padding: 1px 32px;
	height: 1000px;
	text-align: center;
}

/* Responsive */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative; 
	}
	div.content {
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

/* Titres */
h2 {
	font-size: 50px;
}

/* Paragraphes voyage */
.voyage p {
	font-size: 20px;
}

/* Texte poème */
.poeme p {
	font-size:20px;
}

.biographie p {
	font-size:20px;
}

/* Lignes de tableau cliquables */
tr.clickable-row {
	cursor: pointer;
}

/* Tableau */
table {
	width: 60%;
	margin: 0 auto;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	background-color: lightblue;
}

tr:hover {
	background-color: #555;
}

body.bgimg {
	color: white;
	background-color: #808080;
}

.textsize {
	font-size: 25px;
}
