body {
	background-color: #adbee6;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Courier New';
	margin: 0px;
}	

.sidebar {
	margin: 0;
	padding: 0;
	width: 250px; /* Reduced width for better mobile responsiveness */
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.sidebar a {
	display: block;
	color: black;
	padding: 16px; /* Reduced padding for better space management */
	text-decoration: none;
}
 
.sidebar a.active {
	background-color: #ADD8E6;
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

.content {
	margin-left: 250px; /* Adjusted to match new sidebar width */
	padding: 20px; /* Adjusted padding for better spacing */
	height: 1000px;
	width: calc(100% - 250px); /* Adjusted calculation */
}

img {
    display: block;
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%; /* Full width on smaller screens */
		height: auto;
		position: relative; 
	}
	.sidebar a {
		float: left; /* Keep links aligned */
	}
	.content {
		margin-left: 0; /* Reset margin for smaller screens */
		width: 100%; /* Full width */
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center; /* Center links */
		float: none; /* Remove float for smaller screens */
	}
}
